@import "./components/variables";
@import "./components/global";
@import "./components/header";
@import "./components/footer";
@import "./components/main__index";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}