.footer {

    &__grid {
        background-color: rgb(0, 0, 0);
        height: 9rem;
        width: 100%;
        display: grid;
        grid-template-columns: 17rem 2rem;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "elem1 elem2";
    }

    &__h1--grid {
        display: flex;
        align-items: center;
        font-size: 3.1rem;
        color: white;
        text-shadow: 0.1px 0.01px 1rem rgba(255, 255, 255, 0.421);
        
        
        padding-left: 0.6rem;

        grid-area: elem1;
    

        padding-left: 0.6rem;
        transition: transform 1s;

        animation-name: h1;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

    }


    @keyframes h1 {
        from {
            color: white;
        }
        to {
            color: black;
        }
    }

    &__links-externos--grid {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: elem2;
    }

    &__links-externos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__links-externos--1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__links-externos--2 {
        width: 3.1rem;
    }

    &__div__li {
        margin: 1rem 0;
    }

    &__div__a--1 {
        color: purple;
        text-decoration: none;
        font-size: 1.25rem;

        margin: 1.8rem -1.25rem;
        font-weight: bold;
    }

    &__div__a--2 {
        color: green;
        text-decoration: none;
        font-size: 1.25rem;
        
        margin: 1.8rem -1.25rem;
        font-weight: bold;
    }
    
    &__div {
        background-color: rgb(0, 0, 0);
        height: 9rem;
        width: 100%;
        display: flex;
        align-items: center;

        &__a--1, &__a--2 {
            font-size: 1rem;
        }
    }
}

.logo-redes {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.3rem 2.5rem;
}

@media screen and (max-width:426px) {

    .header {

        &__h1 {
            margin: 0%;
            padding: 0%;
        }

        &__buscar {
            top: 15%;
            right: 27%;
        }

        &__navbar {
            padding-right: 0%;
        }

        }


    .aa {
        width: 1rem;
    }

    .bb {
        display: none;
    }

    .main {

        &__portada {
            min-width: 100vw;
            max-height: 10rem;
            background-attachment: local;
        }

        &__img__prod {
            margin: 0%;
            margin-left: 5rem;
        }

        &__mapa--txt {
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            text-align: center;
        }

        &__textophoto {
            margin: 1rem 0;
            margin-left: 8.5rem;
        }
    }
    
    .mapa {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main__artic__publi--grid--1 {
        display: none;
    }
    .main__artic__publi--grid--2 {
        display: none;
    }

    .main--productos--grid {
        grid-template-columns: 20rem;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "ele1"
        "ele2"
        "ele3";
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main__artic__div--grid4 {
            display: none;
    }

    .main__artic__div--grid5 {
            display: none;
    }

    .main__artic__div--grid6 {
            display: none;
    }

    .main__img__prod1 {
        max-width: 15rem;
        max-height: 18rem;
        margin: 0%;
        margin-top: 1rem;
    }

    .main__textophoto1 {
        margin: 0%;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
    }

    
}

@media screen and (max-width:376px) {
    .footer {
        &__links-externos--2 {
            display: none;
        }
    }

    .logo-redes {
        margin: 50% 0%;
    }
}