.header {
    background-color: black; 
    background-size: cover;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    box-shadow: 0 0.1rem 1rem rgba(255, 255, 255, 0.548);
    z-index: 1;

    &__navbar {
        padding-right: 3rem;

        &__ul__li {
            background-color: white;
        }
    }


    &__h1 {
        display: inline;
        font-size: 3.1rem;
    
        color: white;
        text-shadow: 0.1px 0.01px 1rem rgba(255, 255, 255, 0.421);
    
        padding-left: 0.6rem;
        transition: transform 1s;

        animation-name: h1;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    &__h1:hover {
        transform: skew(2deg);
    }
    @keyframes h1 {
        from {
            color: white;
        }
        to {
            color: black;
        }
    }

    &__busq {
        display: flex;
        justify-content: center;
    }

    &__busq--1 {
        border-radius: 0.4rem;
        background-color: rgba(245, 245, 245, 0.775);
        width: 18.7rem;
        height: 1.6rem;
    }

    &__busq--but {
        border-radius: 0.3rem;
        background-color: rgba(245, 245, 245, 0.775);
        width: 3.75rem;
        margin-left: 1rem;
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
    }

    &__nav--txt {
        color: rgb(255, 255, 255);
        text-decoration: none;
        top: 0;
    }

    &__nav--li {
        display: inline-block;
        background-color:rgba(41, 41, 41, 0.4);
        margin-right: 0.6rem;
        border-radius: 0.43rem;
        border: 0.06rem solid rgb(0, 0, 0, 0.700);
        transition: transform 0.5s;
        padding: 0.37rem 0.31rem;
    }
    &__nav--li:hover {
        transform: skew(-7deg);
    }

}

.header__buscar {
    position: absolute;
    padding: 5px;
    right: 15%;
    top: 0.5rem;
}

.header__buscar input {
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
    background-color: whitesmoke;
}

.btn {
    position: absolute;
    margin-top: -8px;
    right: 0%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.header__buscar:hover input {
    width: 240px;
}
.header__buscar input:focus {
    width: 240px;
}

@media screen and (max-width:426px) {

    .header {

        &__h1 {
        }

        &__buscar {
            top: 15%;
            right: 32%;
        }

        &__navbar {
            padding-right: 0%;
        }

        }

    .aa {
        width: 1rem;
    }

    .bb {
       
        visibility: hidden;
    }
}

