.main {
    background-image: url(../media/blackground.png);
    background-size: cover;
    margin-top: 3.75rem;
    color: white;
    width: 100%;

    &__portada {
        width: 100%;
        height: 25rem;
    
        background-image: url(../media/banner.jpg);
        background-position: center;
        background-attachment: fixed;
    }

    &__article {
        background-size: cover;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    &__artic__div {
        display: inline-block;
    }

    &__img__prod {
        width: 18.75rem;
        height: 21.8rem;
        
        padding: 0.12rem;
    
        border-radius: 1.5rem;
        border: 0.04rem solid whitesmoke;
        box-shadow: inset 0.025rem 0.018rem 0.03rem whitesmoke;
    
        margin-top: 3.12rem;
        margin-left: 6.25rem;
        margin-right: 6.25rem;
    }

    &__textophoto {
        font-size: 1.25rem;
    
        margin-bottom: 0.6rem;
        margin-top: 1rem;
        margin-left: 10.5rem;

        color: white;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.451), rgba(255, 255, 255, 0.177));
        border: solid 0.1rem rgba(255, 255, 255, 0.516);
        text-align: center;
        transition: transform 1s;
        width: 11rem;
    }

    &__mapa--txt {
        color: whitesmoke;
        font-size: 1.8rem;
        background-color: rgba(255, 255, 255, 0.116);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6.25rem;
        width: 37.5rem;
    }

    &__mapa {
        display: flex;
        justify-content: center;
        padding: 1.25rem 0.6rem;
        height: 18.75rem;
        width: 25rem;
    }
    

}

.mapa {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}