.header {
    @extend .headerTemplate;
}

.form__vid {
    height: 20rem;
    width: auto;
    margin: 48px;
}

.main {
    @include mainTemplate(3.75rem, yes, yes);
    background-size: cover;

    

    &__contacto {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    

    &__portada {
        width: 100%;
        height: 25rem;
    
        background-image: url(../media/banner.jpg);
        background-position: center;
        background-attachment: fixed;
    }

    &__article {
        background-size: cover;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
    }

    &__artic__div {
        display: inline-block;
    }

    &__img__prod {
        width: 15rem;
        height: 19rem;
        
        padding: 0.12rem;
    
        border-radius: 1.5rem;
        border: 0.04rem solid whitesmoke;
        box-shadow: inset 0.025rem 0.018rem 0.03rem whitesmoke;
    
        margin-top: 3.12rem;
        
        
    }

    &__textophoto {
        font-size: 1rem;
        // color: white;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.451), rgba(255, 255, 255, 0.177));
        border: solid 0.1rem rgba(255, 255, 255, 0.516);
        text-align: center;
        transition: transform 1s;
        width: 240px;
        height: auto;
        margin: 5px 0 0 0;
    }

    &__mapa__txt {
        // color: whitesmoke;
        // font-size: $fontPLarge;
        font-size: 1.3rem;
        background-color: rgba(255, 255, 255, 0.116);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6.25rem;
        width: 37.5rem;
        text-align: center;
    }

    &__mapa {
        display: flex;
        justify-content: center;
        padding: 1.25rem 0.6rem;
        height: 18.75rem;
        width: 25rem;
    }

    &__video {
        height: 40rem;
        width: 8rem;
        align-self: center;
        justify-self: center;
        object-fit: cover;
        border-radius: 0.5rem;
        border-top: solid rgb(255, 255, 255) 0.1rem;
        border-bottom: solid white 0.1rem;
    }

    &__video--titulo {
        position: absolute;
        bottom: 50%;
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
        background-color: rgba(69, 69, 69, 0.645);
    }

    &__artic__publi--grid--1 {
        background-image: url(../media/banner-vertical.jpg);
        background-size: contain;
        border-radius: 0.5rem;
        height: 40rem;
        width: 8rem;
        margin: 4rem 1rem 4rem 1rem;
        grid-area: ele7;
        position: relative;
    }

    &__artic__publi--grid--2 {
        background-image: url(../media/banner-vertical.jpg);
        background-size: contain;
        border-radius: 0.5rem;
        height: 40rem;
        width: 8rem;
        margin: 4rem 0rem 4rem -0.1rem;
        grid-area: ele8;
        position: relative;
    }

    &__artic__div--grid1 {
        grid-area: ele1;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    &__artic__div--grid2 {
        grid-area: ele2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__artic__div--grid3 {
        grid-area: ele3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__artic__div--grid4 {
        grid-area: ele4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__artic__div--grid5 {
        grid-area: ele5;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__artic__div--grid6 {
        grid-area: ele6;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img__prod1 {
        width: 15rem;
        height: 19rem;
        
        padding: 0.12rem;
        
        border: 0.04rem solid whitesmoke;
        border-radius: 1.5rem;
        box-shadow: inset 0.025rem 0.018rem 0.03rem whitesmoke;
        
        margin-top: 1.12rem;
        
    }

    &__textophoto1 {
        font-size: 1.25rem;
    
        margin-top: 1rem;
        margin-bottom: 0.6rem;
        

        color: white;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.451), rgba(255, 255, 255, 0.177));
        border: solid 0.1rem rgba(255, 255, 255, 0.516);
        text-align: center;
        width: 240px;
        height: auto;
        transition: transform 1s;
    }

    &__textophoto1:hover {
        transform: scale(1.1);
    }

    &__preguntasfrecuentes {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        
    }
    
}

.pf__main__titulo {
    text-align: center;
    padding-top: 2rem;
}

.pf__bg {
    width: 100vw;
    height: auto;
}

.main--productos--grid {
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 1fr 10rem;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "ele7 ele1 ele2 ele3 ele8"
    "ele7 ele4 ele5 ele6 ele8";
}

.main--productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mapa {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner {
    max-height: 20rem;
}

.pf__main__preguntas {
    color: blue;
}

.prueba2 {
    margin-bottom: 20rem;
}

.carusel {
    height: 8%;
    width: auto;
    object-fit: cover;

    &__responsive {
        display: none;
    }
    
}

.tamaño {
    height: 400rem;
}

.prueba {
    z-index: -2;
}



@media screen and (max-width:769px) {
    .mapa {
        flex-direction: column;
    }

    .carusel {
    
        &__display {
        display: none;
        }

        &__responsive {
            display: block;
            width: 100vw;
            height: 50%;
        }
    }
    .main {

        &__textophoto, &__textophoto1 {
            margin-top: 1rem;
            font-size: 1.4rem;
        }

        &__article {
            flex-direction: column;
            align-items: center;
        }
       
        &__mapa__txt {
            margin-top: 2rem;

        }

        &__form__vid {
            display: none;
        }

        &__img__prod1 {
            width: 75%;
            height: 25rem;
        }

        

        &__artic__div--grid1, &__artic__div--grid2, &__artic__div--grid3, &__artic__div--grid4, &__artic__div--grid5, &__artic__div--grid6 {
            margin-bottom: 2rem;
            margin-top: 0.5rem;
            border: solid 1px whitesmoke;
            background-color: rgba(255, 255, 255, 0.099);
            width: 60%;  
        }

        &__artic__publi--grid--1, &__artic__publi--grid--2 {
            display: none;
            width: 75%;
            
            
        }

        .main--productos--grid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "ele1"
            "ele2"
            "ele3";
            display: flex;
            flex-direction: column;
            align-items: center;
        
        }
    } 
}


@media screen and (max-width:426px) {
    .banner {
        max-height: 10rem;
    }

    .carusel {
        height: 2.5%;
        
    }


    .main {

        &__artic__div  {
            margin-bottom: 2rem;
            margin-top: 0.5rem;
            border: solid 1px whitesmoke;
            background-color: rgba(255, 255, 255, 0.099);
        }

        &__article {
            display: flex;
            justify-content: center;
        }

        &__portada {
            min-width: 100vw;
            max-height: 10rem;
            background-attachment: local;
        }


        &__mapa__txt {
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 1.2rem;
            margin-top: 0.8rem;
            text-align: center;
            width: 100vw;
            height: auto;
            
        }

        &__artic__publi--grid--1, &__artic__publi--grid--2 {
            display: none;
        }

        &__artic__div--grid1, &__artic__div--grid2, &__artic__div--grid3, &__artic__div--grid4, &__artic__div--grid5, &__artic__div--grid6 {
            margin: 0%;
            padding: 0%;
            
            
        }

        &__img__prod1, &__textophoto1 {
            margin: 0%;
            margin-top: 0.5rem;
            padding: 0%;
            
        }

        &__textophoto1 {
            
            height: auto;
            width: 240px;
            text-align: center;
            flex-wrap: wrap;
            
            span {
                font-size: 1.2rem;
                color: gold;
                text-decoration: underline;
                margin: 5px 20px;
            }
        }

        &__img__prod, &__textophoto {
            margin: 0%;
            margin-bottom: 1rem;
            padding: 0%;
            
        }

        &__textophoto1 {
            
            height: auto;
            width: 240px;
            text-align: center;
            flex-wrap: wrap;
            
            span {
                font-size: 1.2rem;
                color: gold;
                text-decoration: underline;
                margin: 5px 20px;
            }
        }

        &__ord {
            text-align: center;
        }

        &__form__vid {
            display: none;
        }

        &__contacto {
            margin: 0%;
            width: 100%;

            
        }

    }

    .main--productos--grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "ele1"
        "ele2"
        "ele3";
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .mapa {
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .derechos {
        text-align: center;
    }
}